schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" version="1.0">
    <element name="Presentation">
        <complexType>
			<choice maxOccurs="unbounded">

				<element name="Meta" minOccurs="0" maxOccurs="unbounded">
					<complexType>
						<attribute name="key" type="string"  use="required"/>
						<attribute name="value" type="string"  use="required"/>
					</complexType>
				</element>

				<element name="Slide" minOccurs="1" maxOccurs="unbounded">
					<complexType>
						<choice maxOccurs="unbounded">
							<element name="Text" minOccurs="0" maxOccurs="unbounded">
								<complexType  mixed="true">
									<choice minOccurs="0" maxOccurs="unbounded">
										<element name="Format" minOccurs="0" maxOccurs="unbounded">
											<complexType mixed="true">
												 <simpleContent>
													<extension base="string">
														<attribute name="id" type="string"/>
														<attribute name="italic" type="boolean"/>
														<attribute name="bold" type="boolean"/>
														<attribute name="underline" type="boolean"/>
														<attribute name="textsize" type="int"/>
														<attribute name="textcolor" type="string"/>
														<attribute name="font" type="string"/>
														<attribute name="duration" type="int"/>
														<attribute name="start" type="start_type"/>
													</extension>
												</simpleContent>
											</complexType>
										</element>
										<element name="br" minOccurs="0" maxOccurs="unbounded"/>
									</choice>
									<attribute name="id" type="string"/>
									<attribute name="italic" type="boolean"/>
									<attribute name="bold" type="boolean"/>
									<attribute name="underline" type="boolean"/>
									<attribute name="textsize" type="int"/>
									<attribute name="textcolor" type="string"/>
									<attribute name="font" type="string"/>
									<attribute name="duration" type="int"/>
									<attribute name="start" type="start_type"/>
								</complexType>
							</element>
							<element name="Shape" minOccurs="0" maxOccurs="unbounded">
								<complexType>
									<attribute name="type" type="string">
										<simpleType>
											<restriction base="string">
												<enumeration value="eclipse"/>
												<enumeration value="square"/>
											</restriction>
										</simpleType>
									</attribute>
									<attribute name="x" type="int"/>
									<attribute name="y" type="int"/>
									<attribute name="x2" type="int"/>
									<attribute name="y2" type="int"/>
									<attribute name="fill" type="string"/>
									<attribute name="duration" type="int"/>
									<attribute name="start" type="start_type"/>
								</complexType>
							</element>
							<element name="Image" minOccurs="0" maxOccurs="unbounded">
								<complexType>
									<attribute name="path" type="string"/>
									<attribute name="x" type="int"/>
									<attribute name="y" type="int"/>
									<attribute name="width" type="int"/>
									<attribute name="height" type="int"/>
									<attribute name="duration" type="int"/>
									<attribute name="start" type="start_type"/>
								</complexType>
							</element>
							<element name="Audio" minOccurs="0" maxOccurs="unbounded">
								<complexType>
									<attribute name="path" type="string"/>
									<attribute name="x" type="int"/>
									<attribute name="y" type="int"/>
									<attribute name="width" type="int"/>
									<attribute name="height" type="int"/>
									<attribute name="duration" type="int"/>
									<attribute name="start" type="start_type"/>
								</complexType>
							</element>
							<element name="Video" minOccurs="0" maxOccurs="unbounded">
								<complexType>
									<attribute name="path" type="string"/>
									<attribute name="x" type="int"/>
									<attribute name="y" type="int"/>
									<attribute name="width" type="int"/>
									<attribute name="height" type="int"/>
									<attribute name="duration" type="int"/>
									<attribute name="start" type="start_type"/>
								</complexType>
							</element>
						</choice>

						<attribute name="italic" type="boolean"/>
						<attribute name="bold" type="boolean"/>
						<attribute name="underline" type="boolean"/>
						<attribute name="textsize" type="int"/>
						<attribute name="textcolor" type="string"/>
						<attribute name="font" type="string"/>

						<attribute name="duration" type="int"/>

					</complexType>
				</element>
			</choice>

			<attribute name="italic" type="boolean"/>
			<attribute name="bold" type="boolean"/>
			<attribute name="underline" type="boolean"/>
			<attribute name="textsize" type="int"/>
			<attribute name="textcolor" type="string"/>
			<attribute name="font" type="string"/>
        </complexType>
    </element>

	<simpleType name="start_type">
		<union>
			<simpleType>
				<restriction base='xs:string'>
					<enumeration value="trigger"/>
				</restriction>
			</simpleType>
			<simpleType>
				<restriction base='xs:integer'>
					<minInclusive value="1"/>
				</restriction>
			</simpleType>
		</union>
	</simpleType>

</schema>

