schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:pws="pws" version="1.0" elementFormDefault="qualified" targetNamespace="pws">
   <annotation>
      <appinfo>Project Wide Specification (PWS)</appinfo>
      <documentation>
         Version 1.0.

         Actual specification evolution &amp; discussion takes place at //github.com/JackoRo/SWEngPWS where pull requests can be made.
      </documentation>
   </annotation>
   <attributeGroup name="position">
      <annotation>
         <documentation>The position and size (offset) of an element. The width and height of an element is defined as the difference between the (x, y) and (x2, y2) coordinates.</documentation>
      </annotation>
      <attribute name="x" type="decimal">
        <annotation><documentation>The x co-ordinate of the top left corner of the element</documentation></annotation>
     </attribute>
      <attribute name="y" type="decimal">
        <annotation><documentation>The y co-ordinate of the top left corner of the element</documentation></annotation>
     </attribute>
      <attribute name="x2" type="decimal">
        <annotation><documentation>The x co-ordinate of the bottom right corner of the element</documentation></annotation>
     </attribute>
      <attribute name="y2" type="decimal">
        <annotation><documentation>The y co-ordinate of the bottom right corner of the element</documentation></annotation>
     </attribute>
   </attributeGroup>
   <attributeGroup name="fonts">
      <annotation>
         <documentation>All text formatting options (except color). If these attributes are omitted on an element, it will inhert them from it's parent</documentation>
      </annotation>
      <attribute name="font" type="string"/>
      <attribute name="italic" type="boolean" />
      <attribute name="bold" type="boolean" />
      <attribute name="textsize" type="int" />
      <attribute name="underline" type="boolean" />
   </attributeGroup>
   <attributeGroup name="colors">
      <annotation>
         <documentation>Defines the fill color and the foreground/stroke/text color.</documentation>
      </annotation>
      <attribute name="color" type="pws:colorType" />
      <attribute name="fill" type="pws:colorType" />
   </attributeGroup>
   <attributeGroup name="transitions">
        <annotation>
         <documentation>Timing controls for automatic animation/transitions of elements</documentation>
      </annotation>
      <attribute name="duration" type="int" />
      <attribute name="start" type="pws:startType" />
   </attributeGroup>
   <simpleType name="startType">
      <annotation>
        <documentation>
          Either an interger number of seconds specifying how long to wait until starting the transition,
          or the word "trigger" which specifys waiting for an event(such as a mouse click)
       </documentation>
     </annotation>
      <union>
         <simpleType>
            <restriction base="string">
               <enumeration value="trigger" />
            </restriction>
         </simpleType>
         <simpleType>
            <restriction base="integer">
               <minInclusive value="1" />
            </restriction>
         </simpleType>
      </union>
   </simpleType>
   <simpleType name="shapeType">
      <annotation>
        <documentation>
          Defines all vector shapes that are supported
       </documentation>
     </annotation>
      <restriction base="string">
         <enumeration value="ellipse" />
         <enumeration value="rectangle" />
         <enumeration value="line" />
      </restriction>
   </simpleType>
   <simpleType name="colorType">
      <annotation>
        <documentation>
          Defines supported color formats. Alpha is not supported nor are there digit hex codes
         #RRGGBB
         gradient(#RRGGBB,#RRGGBB)
         gradient(#RRGGBB,#RRGGBB,linear)
       </documentation>
     </annotation>
         <union>
         <simpleType>
            <restriction base="string">
               <pattern value="#[0-9A-Fa-f]{6}" />
            </restriction>
         </simpleType>
         <simpleType>
            <restriction base="string">
               <pattern value="gradient\(#[0-9A-Fa-f]{6},#[0-9A-Fa-f]{6}\)" />
            </restriction>
         </simpleType>
         <simpleType>
            <restriction base="string">
               <pattern value="gradient\(#[0-9A-Fa-f]{6},#[0-9A-Fa-f]{6},linear\)" />
            </restriction>
         </simpleType>
      </union>
   </simpleType>
   <element name="Presentation">
      <annotation>
         <documentation>The top-level element that contains the presentation.</documentation>
      </annotation>
      <complexType>
         <choice maxOccurs="unbounded">
            <element name="Meta" minOccurs="0" maxOccurs="unbounded">
               <annotation>
                  <documentation>
                     Meta elements define key values pair of meta infomation that are unlikely to be dircectly rendered.
                     Such as author infomation or revision number.
                  </documentation>
               </annotation>
               <complexType>
                  <attribute name="key" type="string" use="required" />
                  <attribute name="value" type="string" use="required" />
               </complexType>
            </element>
            <element name="Slide" minOccurs="1" maxOccurs="unbounded">
               <annotation>
                  <documentation>
                     Slide element defines a collection of elements which are shown on screen together.
                     In the general case each slide is shown one by one.
                  </documentation>
               </annotation>
               <complexType>
                  <choice maxOccurs="unbounded">
                     <element name="Text" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                           <documentation>Rich Text element</documentation>
                        </annotation>
                        <complexType mixed="true">
                           <choice maxOccurs="unbounded">
                              <element name="Format" minOccurs="0" maxOccurs="unbounded">
                                 <annotation>
                                    <documentation>Formats the text within diffrently to the surounding text</documentation>
                                 </annotation>
                                 <complexType>
                                    <simpleContent>
                                       <extension base="string">
                                          <attributeGroup ref="pws:fonts" />
                                          <attributeGroup ref="pws:colors" />
                                       </extension>
                                    </simpleContent>
                                 </complexType>
                              </element>
                              <element name="Br" minOccurs="0" maxOccurs="unbounded">
                                 <annotation>
                                    <documentation>Adds a line break to the text</documentation>
                                 </annotation>
                              </element>
                           </choice>
                           <attributeGroup ref="pws:position" />
                           <attributeGroup ref="pws:fonts" />
                           <attributeGroup ref="pws:colors" />
                           <attributeGroup ref="pws:transitions" />
                        </complexType>
                     </element>
                     <element name="Shape" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                           <documentation>Vector shape element</documentation>
                        </annotation>
                        <complexType>
                           <attributeGroup ref="pws:position" />
                           <attributeGroup ref="pws:colors" />
                           <attribute name="type" type="pws:shapeType" />
                           <attribute name="stroke" type="decimal" />
                        </complexType>
                     </element>
                     <element name="Image" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                           <documentation>
                           Bitmap Image element.
                           JPEG images are supported.
                           Other file formats may be supported, though this is not garenteed.
                           </documentation>
                        </annotation>
                        <complexType>
                           <attributeGroup ref="pws:position" />
                           <attribute name="path" type="string" />
                        </complexType>
                     </element>
                     <element name="Audio" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                           <documentation>
                           Embeded audio file.
                           WAV files are supported.
                           Other file formats may be supported, though this is not garenteed.
                           </documentation>
                        </annotation>
                        <complexType>
                           <attributeGroup ref="pws:position" />
                           <attribute name="path" type="string" />
                        </complexType>
                     </element>
                     <element name="Video" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                           <documentation>
                           Embeded video file.
                           MP4 files are supported.
                           Other file formats may be supported, though this is not garenteed.
                           </documentation>
                        </annotation>
                        <complexType>
                           <attributeGroup ref="pws:position" />
                           <attribute name="path" type="string" />
                        </complexType>
                     </element>
                  </choice>
                  <attributeGroup ref="pws:fonts" />
                  <attributeGroup ref="pws:colors" />
                  <attributeGroup ref="pws:transitions" />
               </complexType>
            </element>
         </choice>
         <attributeGroup ref="pws:fonts" />
         <attributeGroup ref="pws:colors" />
      </complexType>
   </element>
</schema>
